[submodule "HoI4-IR-Sanguinem-et-Lacrimas"]
	path = HoI4-IR-Sanguinem-et-Lacrimas
	url = https://github.com/Isenreik/HoI4-IR-Sanguinem-et-Lacrimas.git
[submodule "SangLac"]
	path = SangLac
	url = https://github.com/Isenreik/IR-HoI4-Sanguinem-et-Lacrimas
